# https://git-scm.com/docs/gitignore

# Build & Compilation
dist/
build/
*.egg-info/

# Cache & Testing Runtime
.cache/
.coverage*
.mypy_cache/
.ruff_cache/
.pytest_cache/
__pycache__/
*.py[cod]

# IDEs & Editor Configurations
.idea/
.vscode/
.DS_Store
*.log

# Environment & Private Keys
.env
.venv/

# MLOps Infrastructure & Databases
mlflow.db
mlruns/
mlartifacts/
infrastructure/

# Project Data Layers (Managed via DVC)
data/raw/
data/interim/
data/vectorstore/
outputs/

# Keep empty directory tracking active where needed
!**/.gitkeep